<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/js/bootstrap.min.js}"
        href="js/bootstrap.min.js" rel="script">
</head>
<body>
<div class="container" style="max-width: 800px">
  <div th:replace="/menuBar.html"></div>



  <div class="container" style="max-width: 800px">
    <li>" <span th:text="${member.getNickName()}"></span>" 은 너의 이름이다 반갑다!</li>


    <img  th:src="@{'/upload/'+${member.getImageFile()}}" width="300" height="300"/>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <ul>
        <li>프로필 사진 업로드<input type="file" name="file" ></li>
      </ul>
      <input type="submit"/>
    </form>


  </div>

  <div>
    소개글
    북마크 목록

  </div>



  <hr class="my-4">
  <div th:replace="/footer.html"></div>
</div>
</body>

</html>