<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>
<div class="container" style="max-width: 800px">
  <div th:replace="/menuBar.html"></div>
  <div class="py-5 text-center">
    <h2>식당 상세</h2>
  </div>

  <div>
    <label for="itemId">식당 ID</label>
    <span id="itemId" name="itemId" class="form-control" th:text="${item.getRestaurant_basic().getId()}"></span>
  </div>
  <div>
    <label for="itemName">이름</label>
    <span id="itemName" name="itemName" class="form-control" th:text="${item.restaurant_basic.getName()}"></span>
  </div>
  <div>
    <label for="category">분류</label>
    <span id="category" name="category" class="form-control" th:text="${item.restaurant_basic.getCategory()}"></span>
  </div>
  <div>
    <label for="homepage">홈페이지</label>
    <span id="homepage" name="homepage" class="form-control" >
      <span th:if="${#strings.isEmpty(item.getRestaurant_detail().getHomepage())}">
        홈페이지 없음
      </span>
      <span th:unless="${#strings.isEmpty(item.getRestaurant_detail().getHomepage())}">
        <span th:text="${item.getRestaurant_detail().getHomepage()}"></span>
       </span>
    </span>
  </div>
  <div>
    <label for="parkingAvailable">주차 가능 여부</label>
    <span id="parkingAvailable" name="parkingAvailable" class="form-control" th:text="${(item.getRestaurant_detail().getParkingAvailable() == true) ? '가능' : '불가능'}"></span>
  </div>
  <div>
    <label for="petAvailable">동물 가능 여부</label>
    <span id="petAvailable" name="petAvailable" class="form-control" th:text="${(item.getRestaurant_detail().getPetAvailable() == true) ? '가능' : '불가능'}"></span>
  </div>
  <div>
    <label for="multiLingualAvailable">다국어 지원 여부</label>
    <span id="multiLingualAvailable" name="multiLingualAvailable" class="form-control" th:text="${(item.getRestaurant_detail().getMultilingualMenuAvailable() == true) ? '가능' : '불가능'}"></span>
  </div>
  <div>
    <label for="deliveryAvailable">배달 가능 여부</label>
    <span id="deliveryAvailable" name="deliveryAvailable" class="form-control" th:text="${(item.getRestaurant_detail().getDeliveryService() == true) ? '가능' : '불가능'}"></span>
  </div>






  <hr class="my-4">
  <div class="row">
<!--    <div class="col">-->
<!--      <button class="w-100 btn btn-primary btn-lg"-->
<!--              onclick="location.href='editForm.html'"-->

<!--              th:onclick="|location.href='@{/basic/items/{itemId}/edit(itemId=${item.id})}'|"-->
<!--              type="button">수정</button>-->
<!--    </div>-->
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='items.html'"

              th:onclick="|location.href='@{/food}'|"
              type="button">목록으로</button>
    </div>
  </div>

</div> <!-- /container -->
</body>

</html>