<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">부산 풀 코스 </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/food">식당 보기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">호텔 보기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">북마크 보기</a>
            </li>
        </ul>
    </div>
</nav>